
.root{
  -fx-font-family: "Arial";
  -fx-background-color: AliceBlue;
  text_color: #444444;
  NewGameColor: #00069C ;
  HighScoresButtonColor: #AA0000 ;

}

.homeRowFormat {
  -fx-alignment: center;
  -fx-padding: 5px;
}

.homeColFormat {
    -fx-padding: 5px;
    -fx-alignment: center;
}

.homeScreenButton {
    -fx-border-color: black;
    -fx-border-width: 5px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-padding: 30px;
    -fx-font-size: 30px;
    -fx-text-fill: white;
}

.highScoresButton {
    -fx-background-color: HighScoresButtonColor;
}

.newGameButton {
    -fx-background-color: NewGameColor;
}

.BottomGameButtons{
  -fx-alignment: center;
}

.gameGridPane{
  -fx-alignment: center;
}

.wallPiece{
  -fx-alignment: center;
  -fx-fill: DarkBlue;
}

.dotPiece{
  -fx-alignment: center;
  -fx-fill: DarkGoldenRod;
}

